@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Kalam:wght@400;700&display=swap');

.navbar {
  
  background-color: var(--background-color1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  height: 60px;
}

.navbar-brand {
  font-size: 30px;
  color: var(--primary-color1);
  font-family: 'Kablammo', sans-serif;
}

.navbar-links {
  display: flex;
  gap: 80px;
  color: var(--text-color1);
  font-family: Kalam;
}

.nav-link {
  
  text-decoration: none;
  font-size: 20px;
}

.nav-link:hover {
  color: #fff;
}