.navbar {
  background-color: var(--background-color1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  height: 80px;
}

.navbar-brand {
  font-size: 30px;
  color: var(--primary-color1);
  font-family: 'Kablammo', sans-serif;
}

.navbar-links {
  display: flex;
  gap: 80px;
  color: var(--text-color1);
  font-family: Kalam;
}

.nav-link {
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease; /* Added smooth transition */
}

.nav-link:hover {
  color: #fff;
}