.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    160deg,
    #412F26 0%,
    #30231C 25%,
    #1F1814 53%,
    #161210 67%,
    #0E0D0C 81%,
    #0E0D0C 100%
  );
  opacity: 0.95;
  padding: 10px;
  height: 700px;
  gap: 200px;
  filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));
}

.hero-image img {
  border-radius: 43px;
  max-width: 441px;
  height: 662.56px;
  position: relative;
  left: 150px;
  top: 80px;
  filter: drop-shadow(25px 20px 10px rgba(0, 0, 0, 0.5));
}

.hero-content {
  max-width: 65%;
  text-align: center;
  align-content: center;
  padding-right: 80px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content h1 {
  font-size: 85px;
  margin-bottom: 20px;
  font-family: 'Josefin Slab', serif;
  color: var(--hero-color);
  line-height: 7rem;
}

.hero-content p {
  font-size: 20px;
  font-weight: 50;
  margin-bottom: 20px;
  font-family: kalam, cursive;
  color: var(--primary-color2);
  text-align: center;
  align-content: center;
  max-width: 450px;
  padding-bottom: 50px;
}

.hero-button {
  background-color: var(--hero-color);
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  font-style: bold;
  font-weight: 700;
  cursor: pointer;
  width: 180px;
  height: 50px;
  font-family: Josefin Slab, serif;

}

.hero-button:hover {
  background-color: #c0b39a;
}

.card-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color2);
    padding: 150px;
    padding-bottom: 220px;
}

.card{
  width: 297px;
  height: 253px;
  border-radius: 20px;
  border: solid 2px var(--border-color1);
  margin-top: 30px;
  
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--hero-color);
  filter: drop-shadow(-5px 10px 4px rgba(0, 0, 0, 0.25));
}

.card img {
  width: 114px;
  height: 102px;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.card h2{
  color: var(--text-color2);
  font-family: 'Josefin Slab', serif;
  font-size: 28px;
  font-style: bold;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: repeating-radial-gradient(
    #00000040 0,
    #00000040 1px,
    transparent 80px
  );
  background-size: 0.5rem 0.5rem;
  opacity: 1;
  pointer-events: none;
  border-radius: 20px;
}

.hero-content .logout-btn{
 
  top: 20px;
  
}