.donate-container{
    margin: 0 0 150px 0;
}

.donate-title {
  background-image: url("../../assets/donate page.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 628px;
  margin-top: 80px ;
}

.donate-title h1 {
  font-family: Josefin Slab, serif;
  font-size: 85px;
  color: var(--text-color7);
}

.donate-title p {
  font-family: Kalam, cursive;
  font-size: 30px;
  color: var(--text-color1);
}

.donate-cards {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  position: relative;
  top: -200px;
}

.donate-card {
  background-color: var(--hero-color);
  border-radius: 10px;
  text-align: center;
  width: 290.83px;
  height: 310px;
  margin: 8px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: inset 10px 10px 4px rgba(0, 0, 0, 0.25);
  outline: 3px solid #382820;
}

.donate-card img {
  width: 75px;
  height: 75px;
  margin: 10px;
}

.donate-info h3 {
  font-family: 'Abhaya Libre Medium', serif;
  font-size: 50px;
  font-weight: 100;
}

.donate-info p {
  font-family: Kalam, cursive;
  font-size: 30px;
  font-weight: lighter;
  color: #4C4139;
  margin-top: 10px;
}

.donation-form {
  width: 1200px;
  height: 1283px;
  
}

.donation-form h2 {
  font-family: Josefin Slab, serif;
  font-size: 60px;
  margin-bottom: 20px;
  color: #382820;
}

.donation-form .form-section {
  height: 443px;
  
}

