@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Kalam:wght@400;700&family=Josefin+Slab:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 4rem ;
  scroll-behavior: smooth;
  
  text-decoration: none;
}

:root{
  --primary-color1: #000000;
  --primary-color2: rgba(255, 255, 255, 0.9);
  --header3: #773E40;
  --border-color1: #221813;
  --text-color1: #E4E1DF;
  --text-color2: #381D1E;
  --text-color3: #443026;
  --text-color4: #4B352A;
  --text-color5: #3B322C;
  --text-color6: #7B4019;
  --hero-color: #D6C4B8;
  --background-color1:#65564C;
  --background-color2:#F6F4F2;
  --background-color3: #A39B94;
  --background-color4: #D9D9D9;
  --background-color5: #E4DDD7;
  --background-color6: #E2E0DE;
  --btn-color: #A9907E;
}

body{
  background:var(--background-color2);
  color: var(--primary-color1);
}

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.button{
  background-color: var(--btn-color);
  color: var(--primary-color2);
  font-size: 20px;
  font-family: Josefin Slab, serif;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  width: 150px;
  height: 50px;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: 550;
}

.container{
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 1000px){
  .container{
    padding-left: 10px;
    padding-right: 10px;
  }
}