*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 4rem ;
  scroll-behavior: smooth;
  
  text-decoration: none;
}

:root{
  --primary-color1: #000000;
  --primary-color2: rgba(194, 152, 12, 0.9);
  --header3: #773E40;
  --border-color: #050505;
  --text-color1: #E4E1DF;
  --text-color2: rgb(73, 70, 70);
  --text-color3: #555;
  --button-padding : 10px;
  --box-shadow: 2px 2px 10px 14px rgba(0, 0, 0, 0.1);
  --button-hover1: #f08a04;
  --button-hover2:rgba(194, 152, 12, 0.9);
  --background-color1:#65564C;
  --background-color2:rgb(12, 11, 11);
}

body{
  background:var(--primary-color1);
}

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.container{
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 1000px){
  .container{
    padding-left: 10px;
    padding-right: 10px;
  }
}