.why-adopt{
    align-items: center;
    justify-content: center;
}



.why-adopt h2 {
  font-size: 60px;
  font-family: 'Josefin Slab', serif;
  color: var(--header3);
  line-height: 5rem;
  padding-bottom: 20px;
  text-align: center;
}

.why-adopt-content {
  background-color: var(--background-color3); 
  text-align: center;
  align-content: center;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



.why-adopt-content p {
  font-size: 40px;
  font-weight: 600;
  font-family: Josefin Slab, serif;
  color: var(--text-color3);
  text-align: center;
  align-content: center;
  max-width: 900px;
}

.why-adopt-content img {
  max-width: 253.66px;
  height: 381px;
  position: relative;
  left: 100px;
  top: -50px;
  filter: drop-shadow(15px -20px 4px rgba(0, 0, 0, 0.5));
}


.why-adopt-reasons {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  max-width: 775px;
  max-height: 212px;
  position: relative;
}


.why-adopt-reasons .reason {
  text-align: center;
  padding: 20px;
  background-color: var(--background-color3);
  width: 217px;
  height: 212px;
  box-shadow: inset 0px 4px 4px 0px rgb(0,0,0,0.25);
}

.why-adopt-reasons img {
  max-width: 75px;
  max-height: 53px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.why-adopt-reasons h3 {
  font-size: 40px;
  margin: 10px 0;
  font-weight: 540;
}

.why-adopt-reasons p {
  font-size: 20px;
  font-family: kalam, sans-serif;
  font-weight: 100;
  
}